* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.header p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.areas {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons {
  padding: 15px 30px;
  background-color: #3fc1c9;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #364f6b;
}
